.stars-details {
  div.v-progress-linear {
    margin-bottom: 10px;
    position: relative;
    margin-inline-start: 10px;
    overflow: visible;
    &::after {
      content: "0";
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translate(0, -50%);
      font-size: small;
      color: #555;
    }
    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        &::after {
          content: "#{5 + 1 - $i}";
        }
      }
    }
  }
}

.profile-bio {
  p {
    margin-bottom: 0;
  }
  blockquote {
    padding: 10px 0;
    padding-inline-start: 20px;
    font-size: 16px;
    border-inline-start: 7px solid var(--v-primary-base);
    margin-bottom: 1rem;
  }
}
