.custom-chip {
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: none !important;
  border: none !important;
}

.success--text-soft {
  color: #00c9a7 !important;
}

.success-soft {
  background: rgba(0, 201, 167, 0.1) !important;
}
