.v-content.en-true-true {
  padding-right: 256px !important;
}

.v-content.ar-true-true {
  padding-left: 256px !important;
}

// For the Cardset Page

header.v-toolbar.v-app-bar.en-true-true-true {
  left: 320px !important;
}

header.v-toolbar.v-app-bar.ar-true-true-true {
  right: 320px !important;
}

.v-content.en-true-true-true {
  padding-left: 320px !important;
}

.v-content.ar-true-true-true {
  padding-right: 320px !important;
}
